.home-container {
  display: flex;
  padding: 20px;
  margin: 50px auto;
  width: 500px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  font-weight: normal;
}

.sign-out-button {
  background-color: #7f4fff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}


button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}