@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

.login-form {
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  width: 500px;
}

.login-form label {
  display: flex;
  margin-bottom: 5px;
  font-weight: normal;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.login-form button[type="submit"] {
  background-color: #7f4fff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: 1px solid #7f4fff;
}

.password-container {
  display: flex;
  align-items: center;
}

.warn-icon {
  position: absolute;
  cursor: pointer;
  margin-right: 10px;
}

.warn-icon .tooltip {
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  background-color: #fff;
  color: #2e2d2d;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  list-style: none;
  margin: 0;
  padding-left: 15px;
  z-index: 10;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.warn-icon .tooltip-item {
  display: block;
  margin-bottom: 5px;
}

.warn-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.password-input-container {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}

.error {
  color: #46169c;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.error i {
  margin-right: 5px;
}

.signup-link {
  color: #2e2d2d;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  text-align: center;
  background-color: #F8F8F8;
  border-radius: 5px;
  border: 1px solid #7f4fff;
}


button[type="submit"] {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button[type="submit"]:after {
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button[type="submit"]:hover {
  padding-right: 24px;
  padding-left: 8px;
}

button[type="submit"]:hover:after {
  opacity: 1;
  right: 10px;
}